<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" th:href="${#request.getContextPath()}+'/static/css/normalize.css'"/>
    <link rel="stylesheet" type="text/css" th:href="${#request.getContextPath()}+'/static/css/iconfont.css'"/>
    <link rel="stylesheet" type="text/css" th:href="${#request.getContextPath()}+'/static/css/rightCon.css'"/>
    <link rel="stylesheet" type="text/css" th:href="${#request.getContextPath()}+'/static/css/thesame.css'"/>
    <style type="text/css">
    </style>
</head>
<body>

<div class="fb blue" style=" width: 805px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 60px; letter-spacing: 7px;">
    <div class="pb20px">徐汇军休中心信息管理系统</div>
</div>

</body>
</html>
