<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/rightCon.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/thesame.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/popUp.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css"/>
    <!--<style type="text/css">
        .table_operation span {
            cursor: pointer
        }
    </style>-->
    <style type="text/css">
        .record-inform ul li p:nth-child(1) {
            width: 125px;
        }

        .lcs_switch.lcs_off {
            background-color: #356AFF;
        }
    </style>
</head>
<body>
<!--right-Sidebar-con-->
<div class="right-Sidebar-con border-box">
    <div class="record-compile-con">
        <div class="bgWhite border-radius5 box-shadows mb5px overflow">
            <span class="left pad20" style="border-right: 3px solid #F0EFF5; height: 65px;"><img src="../static/img/return.png" class="block"></span>
            <span class="inline-block bgBlue white border-radius5 left pad20 f18px fb" id="addRoom">新增</span>
        </div>
        <div class="bgWhite border-radius5 box-shadows mb20px pt20px pl10px pr10px">
            <div class="active-admin overflow" id="activityRoom">

            </div>

        </div>
        <div class="textCenter page-con">
            <ul class="page inline-block" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
        </div>
        <!--<div class="btn-bot textCenter pt30px pb30px">
            <p class="inline-block textCenter overflow">
                <span class="bgBlue white mr30px">保存</span><span class="bgGray">取消</span>
            </p>
        </div>-->
    </div>
</div>

//弹层
<div class="popUp" style="display: none" id="layerOpen">
    <input id="id" type="hidden" value="">
    <ul class="pop-ul textCenter f18px fb relative">
        <li><span>新建活动室</span></li>
        <p><span class="close-btn"><img src="../static/img/close.png"></span></p>
    </ul>
    <div class="form-con">
        <form class="form-horizontal" role="form">
            <div class="form-group row">
                <label class="col-sm-4 control-label">房间图</label>
                <div class="col-sm-8" id="image">
                    <p>
                        <input type="file" class="hidden file"/>
                        <img id="roomUrl" src="../static/img/file.jpg" width="130" height="130" class="filejs border-radius4"/>
                    </p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 control-label">房间名</label>
                <div class="col-sm-8">
                    <input id="roomName" type="text" class="form-control">
                </div>
            </div>
        </form>
        <div class="btn-bot textCenter">
            <p class="inline-block textCenter overflow">
                <span class="bgBlue white" onclick="save()">保存</span><span class="bgGray close-btn">取消</span>
            </p>
        </div>
    </div>
</div>

<script src="../static/js/jquery-2.1.3.min.js"></script>
<!--left-sidebar-town 左侧列表-->
<script type="text/javascript" src="../static/js/leftSidebar.js"></script>
<script src="../static/js/page.js"></script>
<script src="../static/layer/layer.js"></script>
<script>
    $(function () {
        //加载活动室
        loadActivityRoom(1);

        $("#addRoom").click(function () {
            $("#image p img").attr("src", "../static/img/file.jpg");
            $("#room").val("");
            layerOpen();
        });


        $(".filejs").click(function () {
            $(".file").click();
        });

        $(".file").on("change", function () {
            var file = $(".file").val();
            if (!file.match(/.jpg|.gif|.png|.jpeg|.bmp/i)) {　　//判断上传文件格式
                layer.open({
                    content: '上传的图片格式不正确，请重新选择'
                    , skin: 'msg'
                    //,time: 2 //2秒后自动关闭
                });
                return;
            }
            var fileObj = this.files[0];
            var data = new FormData();
            data.append("file", fileObj);
            $.ajax({
                url: "../image/upload",
                type: "post",
                data: data, //JSON.stringify({"file": file}),
                dataType: "json",
                // contentType: "application/json",
                async: false,
                processData: false,   //用FormData传fd时需有这两项     必要
                contentType: false,
                success: function (data) {
                    if (data.code == 0000) {
                        $("#image p img").attr("src", data.resultPath);
                    } else {
                        $("#image p").html(data.msg);
                    }
                }
            });
        })

    });

    function loadActivityRoom(page) {
        var pageSize = 9;
        var data = {currentPage: page, pageSize: pageSize};
        $.ajax({
            url: '../activity/getActivityRoom',
            async: false,
            type: 'get',
            dataType: "json",
            data: data,
            contentType: "application/json",
            success: function (data) {
                var str = "";
                var activityRoom = $("#activityRoom").empty();
                if (data.code == 200) {
                    if (data.data.records.length > 0) {
                        for (var i = 0; i < data.data.records.length; i++) {
                            str += "<dl class=\"border-radius5 box-shadows\">";
                            str += "<dt><p style=\"background-image: url(" + data.data.records[i].roomUrl + ");\" class=\"smallimg\"></p></dt>";
                            str += "<dd class=\"overflow\">";
                            str += "<p class=\"left\">" + data.data.records[i].roomName + "</p>";
                            str += "<p class=\"right\">";
                            str += "<span class=\"mr10px\"><img onclick=\"editRoomById('" + data.data.records[i].roomNo + "','" + data.data.records[i].roomName + "','" + data.data.records[i].roomUrl + "')\" src=\"../static/img/bianji.png\"></span>";
                            str += "<span><img onclick=\"deleteRoomById('" + data.data.records[i].roomNo + "')\" src=\"../static/img/shanchu.png\"></span></p></dd></dl>";
                        }
                    } else {
                        str += "暂无数据信息";
                    }
                } else {
                    str += "网络异常"
                }
                activityRoom.html(str);
                    $("#page").initPage(data.data.total, data.data.current, data.data.pages, loadActivityRoom, pageSize);
            }
        });
    }

    function editRoomById(id, roomName, roomUrl) {
        $("#image p img").attr("src", roomUrl);
        $("#roomName").val(roomName);
        $("#id").val(id)
        layerOpen();
    }

    function deleteRoomById(id) {
        var data = {id: id};
        layer.confirm('是否确认删除该信息？', {
            btn: ['确定', '取消']
        }, function () {
            layer.closeAll();
            $.ajax({
                url: "../activityRoom/deleteRoomById",
                type: "get",
                async: false,
                dataType: "json",
                data: data,
                success: function (result) {
                    if (result.code == 0000) {
                        layer.msg(result.msg);
                        loadActivityRoom(1);
                    } else {
                        layer.msg(result.msg);
                    }
                }
            })
        });
    }

    function layerOpen() {
        var layerIndex = layer.open({
            type: 1,
            title: false,
            closeBtn: false,
            skin: 'layui-layer-rim', //加上边框
            area: ['700px', ''], //宽高
            content: $("#layerOpen"),
            success: function () {

                $(".close-btn").unbind().on("click", function (e) {
                    layer.closeAll();
                });

            }
        });
    }

    //保存
    function save() {
        var roomUrl = $("#image p img").attr("src");
        var roomName = $("#roomName").val();
        var id = $("#id").val();
        var data = {roomName: roomName, roomUrl: roomUrl, id: id};
        if (isNull(roomName)) {
            layer.msg("名称不能为空")
            return;
        }

        $.ajax({
            url: "../activityRoom/addActivityRoom",
            type: "post",
            dataType: "json",
            data: data,
            async: false,
            success: function (result) {
                if (result.code == "0000") {
                    layer.closeAll();
                    layer.msg(result.msg);
                    loadActivityRoom(1);
                } else {
                    layer.open({
                        content: result.msg
                        , skin: 'msg'
                    });
                }
            }
        })
    }

    function isNull(value) {
        return value == null || value === "" || value === undefined;
    }
</script>
</body>
</html>