<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/rightCon.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/thesame.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/popUp.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/lc_switch.css"/>
    <style type="text/css">
        .table_operation span {
            cursor: pointer
        }

        .preview-act ul {
            padding: 0 50px 20px;
        }

        .preview-act li {
            display: flex;
        }

        .record-inform ul li p, .preview-act p:nth-child(1) {
            width: 129px;
        }

        .preview-con {
            flex: 4;
        }

        .record-inform ul li .preview-con p, .preview-act p:nth-child(2) {
            width: 0;
            width: 100%;
        }

        .record-inform ul li .preview-con .smallimg {
            padding-bottom: 129px;
        }
    </style>
</head>
<body>
<!--right-Sidebar-->
<input id="id" type="hidden" value="" th:value="${id}">
<!--right-Sidebar-con-->
<div class="right-Sidebar-con border-box">
    <div class="record-compile-con">
        <div class="bgWhite border-radius5 box-shadows mb5px overflow">
            <span class="left pad20" style="border-right: 3px solid #F0EFF5; height: 65px;"><img src="../static/img/return.png" class="block"></span>
            <span class="left pad20 f18px fb">活动标题</span>
        </div>
        <!--基本信息-->
        <div class="bgWhite border-radius5 box-shadows mb20px">
            <h1 class="record-compile-title relative lh35px"><span class="fb">基本信息</span></h1>
            <nav class="record-inform">
                <ul>
                    <li>
                        <p><label>展示图片：</label></p>
                        <div class="preview-con pr10px">
                            <input type="file" class="hidden file"/>
                            <p id="showImg" value="0" style="background-image: url(../static/img/file.jpg);" class="smallimg filejs"></p>
                            <!--                                <p><img src="../static/img/file.jpg" class="smallimg  filejs border-radius4"/></p>-->
                        </div>
                    </li>
                    <li>
                        <p><label>房间预览：</label></p>
                        <div class="preview-con pr10px">
                            <input type="file" class="hidden"/>
                            <p id="roomImg" style="background-image: url(../static/img/file.jpg);" class="smallimg"></p>
                            <p>房间预览有问题，<span class="blue cursor" id="toRoomSet">前往设置</span></p>
                        </div>
                    </li>
                </ul>
                <ul>

                    <li>
                        <p><label>活动标题：</label></p>
                        <p><input id="title" type="text" class="form-control" placeholder="请输入标题" maxlength="50"></p>
                    </li>
                    <li>
                        <p><label>活动地址：</label></p>
                        <p><input id="address" type="text" class="form-control" placeholder="请输入地址" maxlength="60"></p>
                    </li>
                    <li>
                        <p><label>活动室：</label></p>
                        <p>
                            <select class="form-control form-select" id="activityRoom">
                                <option>请选择</option>
                                <option>活动室</option>
                            </select>
                        </p>
                    </li>
                    <li>
                        <p><span class="red">*</span><label>联系方式：</label></p>
                        <p><input id="contactInformation" type="text" class="form-control" placeholder="请输入联系方式" maxlength="11"></p>
                    </li>
                    <li>
                        <p><span class="red">*</span><label>招募人数：</label></p>
                        <p><input type="number" id="recruitsNumber" class="form-control" placeholder="请输入招募人数"></p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p><span class="red">*</span><label>是否需要随行人：</label></p>
                        <p><input id="accompanying" type="checkbox" name="check-3" value="0" class="lcs_check lcs_tt1" autocomplete="off"/></p>
                    </li>
                    <li>
                        <p><label>招募开始时间：</label></p>
                        <p><input id="recruitsStartTime" type="text" class="form-control record-time test-item1" placeholder="2019-12-12"></p>
                    </li>
                    <li>
                        <p><label>招募结束时间：</label></p>
                        <p><input id="recruitsEndTime" type="text" class="form-control record-time test-item1" placeholder="2019-12-12"></p>
                    </li>
                    <li>
                        <p><label>活动开始时间：</label></p>
                        <p><input id="activityStartTime" type="text" class="form-control record-time test-item1" placeholder="2019-12-12"></p>
                    </li>
                    <li>
                        <p><label>活动结束时间：</label></p>
                        <p><input id="activityEndTime" type="text" class="form-control record-time test-item1" placeholder="2019-12-12"></p>
                    </li>
                </ul>
            </nav>
            <nav class="preview-act lh35px">
                <ul>
                    <li class="mb20px">
                        <p class="fb textRight pr10px">活动描述：</p>
                        <p>
                            <textarea id="activityDescribe" class="form-control" rows="4" style="width: 100%;" maxlength="200"></textarea>
                        </p>
                    </li>
                    <li>
                        <p class="fb textRight pr10px">活动详情：</p>
                        <!--<p><textarea class="form-control" rows="4" style="width: 100%;"></textarea></p>-->
                        <script type="text/plain" id="uploadEditor" name="myContent">
                        </script>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="btn-bot textCenter pt30px pb30px">
            <p class="inline-block textCenter overflow">
                <span class="bgGray" id="return">返回</span><span class=" bgBlue white mr30px" id="save">保存</span>
            </p>
        </div>
    </div>
</div>

<script src="../static/js/jquery-2.1.3.min.js"></script>
<script src="../static/layer/layer.js"></script>
<script type="text/javascript" charset="utf-8" src="../static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="../static/ueditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="../static/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="../static/js/leftSidebar.js"></script>
<script type="text/javascript" src="../static/laydate/laydate.js"></script>
<script type="text/javascript" src="../static/js/top.js"></script>
<script type="text/javascript" src="../static/js/lc_switch.js"></script>
<script>

    //实例化编辑器
    var ue = UE.getEditor('uploadEditor', {
        toolbars: [
            [
                'fontfamily', //字体
                'fontsize', //字号
                'undo', //撤销
                'redo', //重做
                '|',
                'emotion', //表情
                'forecolor', //字体颜色
                'backcolor', //背景色
                'bold', //加粗
                'underline', //下划线
                'strikethrough', //删除线
                '|',
                'justifyleft', //居左对齐
                'justifyright', //居右对齐
                'justifycenter', //居中对齐
                '|',
                'link', //超链接
                'unlink', //取消链接
                'simpleupload', //单图上传
                //'insertimage', //多图上传
                //'music', //音乐
                //'insertvideo', //视频
                'removeformat', //清除格式
                'formatmatch', //格式刷
                'source', //源代码
            ]
        ],
        enableAutoSave: false,
        autoHeightEnabled: true,
        autoFloatEnabled: true,
        scaleEnabled: true,//滚动条
        initialFrameHeight: 400, //默认的编辑区域高度
        initialFrameWidth:1050
    });

    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function (action) {
        if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
            return 'http://localhost:8088/caifu/ueditor/imgUpdate'; //在这里返回我们实际的上传图片地址
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    }

    $(function () {

        //加载活动室
        loadActivityRoom();

        //编辑时回显数据
        loadData();

        //选择活动室加载图片
        $("#activityRoom").on("change", function () {
            var roomNo = $("#activityRoom").val();
            loadEditRoom(roomNo);
        });


        //保存
        $("#save").click(function () {
            saveActivity();
        })

        //返回
        $("#return").click(function () {
            window.location.href = "../activity/toActivityPage";
        })

        //跳活动室编辑页
        $("#toRoomSet").click(function () {
            window.location.href = "../activityRoom/toActivityRoom";
        })

        $(".filejs").click(function () {
            $(".file").click();
        });

        $(".file").on("change", function () {
            var file = $(".file").val();
            if (!file.match(/.jpg|.gif|.png|.jpeg|.bmp/i)) {　　//判断上传文件格式
                layer.open({
                    content: '上传的图片格式不正确，请重新选择'
                    , skin: 'msg'
                    //,time: 2 //2秒后自动关闭
                });
                return;
            }
            var fileObj = this.files[0];
            var data = new FormData();
            data.append("file", fileObj);
            $.ajax({
                url: "../image/upload",
                type: "post",
                data: data, //JSON.stringify({"file": file}),
                dataType: "json",
                // contentType: "application/json",
                async: false,
                processData: false,   //用FormData传fd时需有这两项     必要
                contentType: false,
                success: function (data) {
                    if (data.code == 0000) {
                        // $("#image span img").attr("src", data.resultPath);
                        $("#showImg").css("background-image", 'url(' + data.resultPath + ')');
                        $("#showImg").attr("value", "1");
                    } else {
                        $("#showImg").html(data.msg);
                    }
                }
            });
        })


        //	按钮开关
        $('input').lc_switch();
        // triggered each time a field changes status
        $('body').delegate('.lcs_check', 'lcs-statuschange', function () {
            var status = ($(this).is(':checked')) ? 'checked' : 'unchecked';
            console.log('field changed status: ' + status);
        });

        // triggered each time a field is checked
        $('body').delegate('.lcs_check', 'lcs-on', function () {
            console.log('field is checked');
        });

        // triggered each time a is unchecked
        $('body').delegate('.lcs_check', 'lcs-off', function () {
            console.log('field is unchecked');
        });
    })

    lay('.test-item1').each(function () {
        laydate.render({
            elem: this,
            trigger: 'click',
            type: 'datetime',
            /*value: '1989-10-14'*/
        });
    });

    function loadActivityRoom() {
        $.ajax({
            url: '../activity/getActivityRoom',
            async: false,
            type: 'get',
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                var str = "";
                var activityRoom = $("#activityRoom").empty();
                if (data.code == 200) {
                    str += "<option value=''>请选择</option>";
                    if (data.data.length > 0) {
                        for (var i = 0; i < data.data.length; i++) {
                            str += "<option value='" + data.data[i].roomNo + "'>" + data.data[i].roomName + "</option>"
                        }
                    }
                } else {
                    str += "网络异常"
                }
                activityRoom.html(str);
            }
        });
    }

    function saveActivity() {
        //获取背景图片中的url
        /*var _bk = $('#showImg').css('background-image');
        var _src = _bk.replace('url(', '').replace(')', '');
        console.log(_src);
        */
        var url = $('#showImg').css("background-image");
        var imgurl = url.split("(\"")[1].split("\")")[0];
        // console.log(imgurl);
        var flag = $("#showImg").attr("value");
        if (flag == 0) {
            layer.msg("请选择展示图片")
            return;
        }
        var title = $("#title").val();
        var address = $("#address").val();
        var details = ue.getContent();
        var contactInformation = $("#contactInformation").val();
        var accompanying = "";
        if ($("#accompanying").prop("checked")) {
            accompanying = "1";
        } else {
            accompanying = "0";
        }
        // console.log(accompanying);
        var activityDescribe = $("#activityDescribe").val();
        var activityEndTime = $("#activityEndTime").val();
        var activityStartTime = $("#activityStartTime").val();
        var recruitsEndTime = $("#recruitsEndTime").val();
        var recruitsStartTime = $("#recruitsStartTime").val();
        var recruitsNumber = $("#recruitsNumber").val();
        var roomNo = $("#activityRoom").val();
        var id = $("#id").val();
        if (isNull(title)) {
            layer.msg("请选择标题")
            return;
        }
        if (isNull(address)) {
            layer.msg("请选择活动地址")
            return;
        }
        if (isNull(roomNo)) {
            layer.msg("请选择活动室")
            return;
        }
        if (isNull(contactInformation)) {
            layer.msg("请选择联系方式")
            return;
        }
        if (isNull(recruitsNumber)) {
            layer.msg("请选择招募人数")
            return;
        }
        if (isNull(recruitsStartTime)) {
            layer.msg("请选择招募开始时间")
            return;
        }
        if (isNull(recruitsEndTime)) {
            layer.msg("请选择招募结束时间")
            return;
        }
        if (isNull(activityStartTime)) {
            layer.msg("请选择活动开始时间")
            return;
        }
        if (isNull(activityEndTime)) {
            layer.msg("请选择活动结束时间")
            return;
        }
        if (isNull(activityDescribe)) {
            layer.alert("请选择活动描述")
            return;
        }
        //判断时间大小
        if (recruitsEndTime <= recruitsStartTime) {
            layer.alert("招募结束时间应大于招募开始时间")
            return;
        }

        if (activityStartTime <= recruitsEndTime) {
            layer.alert("活动开始时间应大于招募结束时间")
            return;
        }

        if (activityEndTime <= activityStartTime) {
            layer.alert("活动结束时间应大于活动开始时间")
            return;
        }

        var data = {
            id: id, title: title, address: address, imgUrl: imgurl, details: details,
            contactInformation: contactInformation, accompanying: accompanying, activityDescribe: activityDescribe,
            activityEndTime: activityEndTime, activityStartTime: activityStartTime, recruitsEndTime: recruitsEndTime,
            recruitsStartTime: recruitsStartTime, recruitsNumber: recruitsNumber, roomNo: roomNo
        }
        $.ajax({
            url: "../activity/addActivity",
            type: "post",
            dataType: "json",
            data: data,
            async: false,
            success: function (data) {
                if (data.code == 0000) {
                    layer.alert(data.msg, function () {
                        window.location.href = "../activity/toActivityPage";
                    })
                } else {
                    layer.msg(data.msg);
                }
            }
        })
    }

    function loadData() {
        var id = $("#id").val();
        if (isNull(id)) {
            return;
        }
        var data = {id: id};
        $.ajax({
            url: "../activity/getActivityById",
            type: "get",
            dataType: "json",
            data: data,
            async: false,
            success: function (data) {
                if (data.code == 200) {
                    ue.ready(function () {
                        ue.setContent(data.data.details);
                    })
                    $("#showImg").css("background-image", 'url(' + data.data.imgUrl + ')');
                    $("#showImg").attr("value", "1");
                    $("#title").val(data.data.title);
                    $("#address").val(data.data.address);
                    $("#contactInformation").val(data.data.contactInformation);
                    if (data.data.accompanying == 1) {
                        $("#accompanying").prop("checked", true);
                    }
                    $("#activityDescribe").val(data.data.activityDescribe);
                    $("#activityEndTime").val(data.data.activityEndTime);
                    $("#activityStartTime").val(data.data.activityStartTime);
                    $("#recruitsEndTime").val(data.data.recruitsEndTime);
                    $("#recruitsStartTime").val(data.data.recruitsStartTime);
                    $("#recruitsNumber").val(data.data.recruitsNumber);
                    $("#activityRoom").val(data.data.roomNo);
                    loadEditRoom(data.data.roomNo);
                }
            }
        })
    }

    function loadEditRoom(roomNo) {
        var data = {id: roomNo};
        $.ajax({
            url: '../activity/getActivityRoomById',
            async: false,
            type: 'get',
            data: data,
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                if (data.code == 200) {
                    if (!isNull(roomNo)) {
                        $("#roomImg").css("background-image", 'url(' + data.data.roomUrl + ')');
                    } else {
                        $("#roomImg").css("background-image", "");
                    }
                } else {

                }
            }
        });
    }

    function isNull(value) {
        return value == null || value === "" || value === undefined;
    }


</script>
</body>
</html>