<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/rightCon.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/thesame.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/popUp.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css"/>
    <style type="text/css">
        .table_operation span {
            cursor: pointer
        }
    </style>
</head>
<body>
<!--<input id="initPage" th:value="${initPage}" type="hidden">-->
<input type="hidden" value="" th:value="${activityId}" id="activityId">
<div class="right-Sidebar-con border-box">
    <div>

        <div class="form-inline form-group-search pt20px pb20px pr30px">
            <p class="form-group btn-inquire mb20px table_operation">
                <span class="inline-block bgBlue white border-radius5 lh40px border-box textCenter mr15px" id="download">下载名单</span>
            </p>
            <p class="relative form-group form-group-width">
                <input type="text" class="form-control" id="title" name="name" placeholder="请输入标题">
                <span class="glyphicon glyphicon-search form-control-feedback lightGray" style="top:3px; left: 0;"></span>
            </p>
            <p class="relative form-group ml20px">
                <span class="block bgBlue white border-radius5 pl30px pr30px lh40px cursor" id="searchButton">搜  索</span>
            </p>
        </div>

        <!-- <p class="btn-inquire mb20px table_operation">
             <span class="inline-block bgBlue white border-radius5 lh40px border-box textCenter mr15px" id="download">下载名单</span>
             <input type="text" placeholder="请输入标题" id="title"><input type="button" value="查询" id="searchButton">
         </p>-->
        <div class="table-con bgWhite border_box border-radius5">
            <table cellpadding="0" cellspacing="0" width="100%" border="0" class="textCenter" id="main_table">
                <thead>
                <tr>
                    <th style="width: 10%">序号</th>
                    <th style="width: 10%">用户姓名</th>
                    <th style="width: 10%">手机号码</th>
                    <th style="width: 20%">随行人信息</th>
                    <th style="width: 20%">备注</th>
                    <th style="width: 30%">活动报名时间</th>
                </tr>
                </thead>
                <tbody id="value">

                </tbody>
            </table>
            <div class="textCenter page-con">
                <ul class="page inline-block" maxshowpageitem="5" pagelistcount="10" id="page"></ul>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/jquery-2.1.3.min.js"></script>
<script src="../static/layer/layer.js"></script>
<script src="../static/js/page.js"></script>
<script src="../static/validation/jquery.validate.js"></script>

<script>

    $(function () {

        getData(1);


        $("#download").click(function () {
            var activityId = $("#activityId").val();
            window.location.href = "../activity/exportExcel?activityId=" + activityId;
        });

        $("#searchButton").click(function () {
            getData(1);
        });

    });

    function getData(page) {
        var name = $("#title").val();
        var activityId = $("#activityId").val();
        var pageSize = 15;
        var data = {currentPage: page, pageSize: pageSize, name: name, activityId: activityId}
        $.ajax({
            url: "../activity/getPersonInfoByActivityId",
            type: "get",
            dataType: "json",
            data: data,
            async: false,
            success: function (result) {
                var html = "";
                if (result.code == 200) {
                    if (result.data.records.length > 0) {
                        var orderNum = (result.data.current - 1) * pageSize
                        for (var i = 0; i < result.data.records.length; i++) {
                            html += "<tr>";
                            html += "<td>" + (orderNum + i + 1) + "</td>";
                            html += "<td>" + result.data.records[i].name + "</td>"
                            html += "<td>" + result.data.records[i].mobile + "</td>"
                            html += "<td>" + result.data.records[i].accompanyingNames + "</td>"
                            html += "<td>" + result.data.records[i].remarks + "</td>"
                            html += "<td>" + result.data.records[i].createTime + "</td>"
                            html += "</tr>"
                        }
                    } else {
                        html += "<tr><td colspan='5'>暂无数据信息！</td></tr>";
                    }
                } else {
                    html += "<tr><td colspan='5'>获取列表失败！</td></tr>";
                }
                $("#value").html(html);
                $("#page").initPage(result.data.total, result.data.current, result.data.pages, getData, pageSize);
            }
        })
    }

</script>
</body>
</html>
